@model ManageShop.Models.ViewModel.OrderViewModel
@{
    ViewBag.Title = "Index";
}
@section Styles {
    <link href="@Url.Content("~/Content/Order/Index.css")" rel="stylesheet" type="text/css" />
}

<div class="container-fluid">

    <h2>Order</h2>
    @*Test commit*@
    <div class="row">
        <div class="col-lg-8 col-12 mb-3" id="order">
            <div class="container d-flex">
                @Html.DropDownListFor(m => m.Album.Name, new SelectList(Model.Albums, "AlbumId", "Name"), "Select Album", new { @class = "form-control", @id = "album" })
                <button type="submit" class="btn btn-primary mx-2" id="loadProduct">
                    Load
                </button>
            </div>
            <div id="product-container" class="d-flex flex-wrap justify-content-center">

            </div>
        </div>
        <div class="col-lg-4 col-12" id="orderDetails">
            <h2>Order Details</h2>

        <form class="p-2">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Order Date</label>
                    <input type="text" class="form-control" id="orderDate" placeholder="Date...">
                    <span id="errorDate" style="color:red; display:none">Please enter the date</span>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Phone</label>
                    <input type="text" class="form-control" id="orderPhone" placeholder="Phone...">
                    <span id="errorPhone" style="color:red; display:none">Please enter your phone</span>
                </div>
            </div>

            <div class="form-group">
                <label for="inputAddress2">Name</label>
                <input type="text" class="form-control" id="orderName" placeholder="Nguyen Huu Linh">
                <span id="errorName" style="color:red; display:none">Please enter your name</span>
            </div>

            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="orderAddress" placeholder="1234 Main St">
                <span id="errorAddress" style="color:red; display:none">Please enter your address</span>
            </div>

            <div class="form-group">
                <label for="inputAddress">Description</label>
                <input type="text" class="form-control" id="orderDes" placeholder="Your text here...">
            </div>
        </form>
            <table class="table table-hover product-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="orderdetailsItems">
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Total: </td>
                        <td colspan="2"><span id="totalAmount" class="badge badge-info">0</span>
                            <span class="font-weight-bold currency" >đ</span>
                            </td>
                    </tr>
                </tfoot>
            </table>
            <div style="padding:10px 10px; text-align:right">
                <button type="submit" class="btn btn-warning btn-sm"  id="submit">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script src="@Url.Content("~/Scripts/myScript.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('#orderDate').datepicker({
                dateFormat: 'mm-dd-yy'
            })
        });
    </script>
}



