@model ManageShop.Models.ViewModel.OrderViewModel
@{
    ViewBag.Title = "Index";
}
@section Styles {
    <link href="@Url.Content("~/Content/Order/Index.css")" rel="stylesheet" type="text/css" />
}

<div class="container-fluid">

    <h2>Order</h2>
    @*Test commit*@
    <div class="row">
        <div class="col-lg-8 col-12" id="order">
            <div class="container d-flex">
                @Html.DropDownListFor(m => m.Album.Name, new SelectList(Model.Albums, "AlbumId", "Name"), "Select Album", new { @class = "form-control", @id = "album" })
                <button type="submit" class="btn btn-primary mx-2" id="loadProduct">
                    Load
                </button>
            </div>
            <div id="product-container">

            </div>
        </div>
        <div class="col-lg-4 col-12 p-2" id="orderDetails">
            <h2>Order Details</h2>
            <table class="table table-responsive">
                <tr>
                    <td>Order Date</td>
                    <td>
                        <input type="text" id="orderDate" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td colspan="3">
                        <textarea type="text" id="orderDes" class="form-control"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td colspan="3">
                        <textarea type="text" id="orderDes" class="form-control"></textarea>
                    </td>
                </tr>
            </table>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="orderdetailsItems">
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-right">Total: </td>
                        <td><span id="totalAmount" class="badge badge-info">0</span></td>
                    </tr>
                </tfoot>
            </table>
            <div style="padding:10px 0; text-align:right">
                <button type="submit" class="btn btn-warning" style="padding:10px 20px" id="submit">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script src="@Url.Content("~/Scripts/myScript.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('#orderDate').datepicker({
                dateFormat: 'mm-dd-yy'
            })
        });
    </script>
}



