<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
    <script src="https://kit.fontawesome.com/021c44fd23.js" crossorigin="anonymous"></script>
</head>
<body>
    @Html.Partial("_Header")
    @Html.Partial("_Nav")
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $(document).ready(function () {
            var url = window.location.pathname;
            $('ul.navbar-nav a[href="' + url + '"]').parent().addClass('active');
            $('ul.navbar-nav a').filter(function () {
                return this.href == url;
            }).parent().addClass('active');
        });
    </script>
<script src="~/Scripts/bootbox.min.js"></script>
<script src="@Url.Content("~/Scripts/index.js")"></script>
@RenderSection("scripts", required: false)

</body>
</html>
