@model IEnumerable<ManageShop.Models.Album>
@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/amsify.suggestags.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Album/IndexPage.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    <script src="https://kit.fontawesome.com/021c44fd23.js" crossorigin="anonymous"></script>
    <script>UPLOADCARE_PUBLIC_KEY = '49d4a35ffe4282af4c23';</script>
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/jquery.amsify.suggestags.js")"></script>
    <script src="@Url.Content("~/Scripts/Album/Index.js")"></script>

}

<div class="album-container">
    <h2>Albums List:</h2>

    
    <!-- Button trigger modal -->
    @*<button type="button" class="btn btn-primary">

            Add order for this album
        </button>*@

    <!-- Modal Add new Album-->
    <div class="modal fade" id="albumModal" tabindex="-1" role="dialog" aria-labelledby="albumModalLabel" aria-hidden="true">
        <div id="album-modal" class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="albumModalLabel">Add new Album</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            @*LEFT ROW*@
                            <div id="album-wrapper" class="col-12 col-lg-2">
                                <input type="hidden" name="PhotoCover" value="" />
                                <div>
                                    <input id="album-name-input" type="text"
                                           name="Name" placeholder="Album name" value="" class="form-control " />
                                </div>
                                <div>
                                    <input id="album-name-input" type="text"
                                           name="AlbumId" placeholder="AlbumId" value="" class="form-control " />
                                </div>
                                <div>
                                    <textarea id="album-desc-input" class="form-control"
                                              name="Description" placeholder="Description" rows="6"></textarea>
                                </div>
                                <input class="form-control" type="text" name="categories" />
                                @*<input class="form-control" type="text" name="TEST" />*@
                            </div>

                            @*RIGHT ROW*@

                            <div id="product-container" class="col-12 col-lg-10 d-flex row justify-content-center">
                                <div class="card m-2 shadow" id="uploadBtn">
                                    <input type="hidden" data-clearable role="uploadcare-uploader" id="uploadedImage" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="save-album__btn" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Album Lists -->

    @Html.Partial("_AlbumList",Model)

</div>



